
code {
  font-family: 'g-bold';
  
}
.navbackground
{
  background-color: white;
  border-radius: 40%;

  padding-right: 10px;
  padding-left: 10px;
}
.navbar-nav
{
  margin-right: 30px;
}
.nav-item
{
  margin-left:20px;
}
.nav-link
{
  color:Black!important;
  font-family: 'Mate SC', serif;
}
.chill
{
 background-color:#FC772A;
 border: 2px solid black;
 height:30px;
 border-radius: 11px;
 padding-right: 14px;
 padding-left: 15px;
}

.ohomehead
{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 2px;
  color: aliceblue;
}
.second
{
  height: 500px;
  width: 500px;
  background-image: url(https://thumbs.dreamstime.com/b/cartoon-color-characters-people-hotel-reception-female-manager-concept-vector-tourism-flat-design-style-illustration-190332640.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 70px;
  margin-left: 30px;
  border-radius: 20%;

 
}
.ohomelink{

    background-color: black;
    color:white;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10px;
}
.ohomelink:hover{
  text-decoration: none;
  color: white;
}
.formback
{
  background-color:white ;
}
.formpad{
  padding-bottom: 50px;
}
.formdesign
{
  border: 2px solid black;
  border-radius: 10px;
  
}
.textpad
{
  padding-bottom: 50px;
}
.fombut
{
  margin-right: 100px;
  margin-top: 100px;
}
.allcontainer
{
  background-color: #030303;
}
.singlecol
{
  background-color:white;
  padding-top: 30px;
  padding-bottom: 30px;
  color:black;
  border: 2px solid orange;
  border-radius: 10px;
  width: 800px;
  height:300px;

}
.card-image{
    width:100%;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

}
.secondecolumn{
  color:white;
}
.singlecol2
{
  background-color:black;
  padding-top: 30px;
  padding-bottom: 30px;
  color:white;
  border: 2px solid #D83A56 ;
  border-radius: 10px;
  width: 100%;
  height:50%;

}
.card-image{
  width:100%;
  height:250px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;

}


.scroll-container {
  opacity: 0;
  transition: opacity 1s;
}

.scroll-container.animate {
  opacity: 1;
}

.component {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.scroll-container.animate .component {
  transform: translateX(0);
  opacity: 1;
}



    .faq-container {
      text-align: center;
      
    }
    
    .faq-heading {
      font-size: 24px;
    }
    
    .faq-question {
      margin-top: 20px;
    }
    
    .question-container {
      display: flex;
      justify-content: space-between;

      width: 80%;
      margin: 0 auto;
      background-color: #f0f0f0;
      padding: 10px;
      cursor: pointer;
    }
    
    .question-text {
      flex: 1;
    }
    
    .plus-icon {
      font-weight: bold;
    }
    
    .answer-container {
      display: none;
      width: 80%;
      margin: 0 auto;
      background-color: #f9f9f9;
      padding: 10px;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
    }
    
    .answer-container.show {
      display: block;
      max-height: 500px; /* Adjust the maximum height as needed */
    }

    


 
    .container {
      background-color: white;
      padding: 40px 0;
      width:"80%";
      margin: 0 auto;
    }
    
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 20px;
      
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .content.animate {
      opacity: 1;
      transform: translateX(0);
    }
    
    .text-content {
      text-align: left;
    }
    
    .heading {
      margin-bottom: 10px;
    }
    
    .paragraph {
      margin-bottom: 20px;
    }
    
    .image-content {
      display: flex;
      justify-content: left;
      align-items: left;
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .image-content.animate-right {
      opacity: 1;
      transform: translateX(0);
    }
    
    .phone-image {
      max-width: 100%;
      height: auto;
    }
    
    

    .main-nav {
      background-image: linear-gradient(#F9BD6448,#BFBDB948);
     
      margin: auto;
      width: 86%;
    padding-left:30;
    height: 5rem;
    border-radius:1rem;
    display: grid;
    
  
  }
  
  .logo {
    display: grid;
   
    grid-column: 1.9/3;
    margin:30;
    padding:10;
    justify-content: start;
    align-items: right;
    height:50px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .navbar {
      display: flex;
      justify-content: space-between;
      background-image: linear-gradient(#F9BD6448,#BFBDB948);
      border-radius:1rem;
     
      margin: auto;
      width: 80%;
      height:70px;
      /* Add other styling properties for the navbar */
    }
   
    
    .left-buttons {
      display: flex;
      align-items: left;
    
    }
    
    .right-buttons {
      border-radius:40;
      display: flex;
      align-items: center;
    }

    .Main_container {
      background-color:"#FAF9ED";
      background-image:  url("/public/Group 1171275558 (1).svg") ;
      background-repeat: no-repeat;
  background-size: cover;
  position:"relative";
  z-index:1;
  

    }

   .main_container_2 {
    background-image:  url("/public/Space Black.svg") no-repeat center center fixed  ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

   }



    
    
    @media (max-width: 768px) {
      .content {
        flex-direction: column;
        align-items: center;
      }
      .faq-container {
        background-color:"green"
        
      }
  
      .wow{
        width:"40%"
      }

      
    }
    
    
    
    






    



    
    
    
    
    



    



    